input[readonly="readonly"] {
    border: 0 none;
}

.update {
    margin: 0 10px;
}

#complexContact-lists {
    margin-top: 10px;
}

.hide {
    display: none;
}

.list-group-item:hover .btn {
    display: inline !important;
}

.nopad {
    padding:0;
}

.padb {
    padding-bottom: 12px;
}
}